.navigation-bar {
  width: 100%;
  display: block;
  text-align: center;
}
.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.navigation-item {
  font-weight: 600;
}
.navigation-link {
  margin: auto;
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 12px 30px;
}
.menu-bar-container {
  display: none;
  float: right;
  cursor: pointer;
  margin: 8.5px 10px;
}
.bar-1, .bar-2 {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar-1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar-2 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
@media screen and (max-width: 600px) {
  .hide-for-small{
    display: none;
  }
  .menu-bar-container {
    display: block;
  }
}
@media screen and (min-width: 600px) {
  .hide-for-not-small{
    display: none;
  }
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
