.navigation-bar {
  width: 100%;
  display: block;
  text-align: center;
}
.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.top-navigation-item {
  font-weight: 600;
  display: inline-block;
  padding: 12px 30px;
}
.side-menu{
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  margin-top: 41px;
}
.side-navigation-item{
  font-weight: 600;
  display: block;
  padding: 12px 30px;
  transition: 0.02s;
}
.top-navigation-link {
  margin: auto;
  text-decoration: none;
  color: black;
}
.menu-bar-container {
  display: none;
  float: right;
  cursor: pointer;
  margin: 8.5px 10px;
}
.bar-1, .bar-2 {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}
.change-bar-1 {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
  -webkit-transform: rotate(-45deg) translate(1px, 6px);
  transform: rotate(-45deg) translate(1px, 6px);
}
.change-bar-2 {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
  -webkit-transform: rotate(45deg) translate(0px, -8px);
  transform: rotate(45deg) translate(0px, -8px);
}
@media screen and (max-width: 600px) {
  .hide-for-small{
    display: none;
  }
  .menu-bar-container {
    display: block;
  }
}
@media screen and (min-width: 600px) {
  .hide-for-not-small{
    display: none;
  }
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.display-none{
  display: none;
}
